@keyframes rotation {
    from {
          transform: rotate(0deg);
  }
  }
  @keyframes rotation {
    to {
          transform: rotate(360deg);
  }
  }

  .rotation {
    animation: rotation linear 20s infinite;
  }